<div class="auth-page">
    <div class="auth-window">
        <form class="input-box">
            <h1 class="welcom">Welcome</h1>
            <div class="email-input">
                <span>Email</span><br>
                <input id="input-email" type="text" name="email">
            </div>
            <div class="Password-input">
                <span>Password</span><br>
                <input id="input-password" type="text" name="password">
            </div>
            <div class="button-box">
                <button id="button-login">Login</button>
            </div>
            <div class="registration-link">
            <span>Don't have account? <a href="#">Sign Up</a>
            </div>
        </form>
        
    </div> 
    <div class="info-desk">
        <h1>News</h1>
        <p>Нас уже: 1023040</p>                
        <p>Последний пользователь зарегистрировался: 03/11/2020 12:53:23</p>
    </div>
</div>