@media (max-device-width : 768px) {
    .auth-page-container {
        display: grid;
        grid-template-areas: 
        ".  .            ."
        ".  auth-window  ."
        ".  info-desk    ."
        ".  .            .";
        grid-template-rows: 10% 80% 60% 10%;
        grid-template-columns: 1fr 70% 1fr;
        grid-gap: 10px;
        margin: 0;
    
        
    
    }
}
@media (min-device-width : 768px) {
    .auth-page-container {
        display: grid;
        grid-template-areas: 
        ".  .            .          ."
        ".  auth-window  info-desk  ."
        ".  auth-window  info-desk  ."
        ".  .            .          .";
        grid-template-rows: 40% 60% 60% 30%;
        grid-template-columns: 1fr 35% 35% 1fr;
        grid-gap: 10px;
        margin: 0;

       

    }
}
body {
    background: #222629;
    font-family: 'Rubik', sans-serif;
}


p h1{
    margin: 0px;

} 

.auth-window {
    display: grid;
    grid-area: auth-window;
    grid-template-areas: 
    "input-box          input-box "
    "registration-link  button-box";

    border: 1px solid black;
    text-align: center;
    background: #3483eb;
    box-shadow: 0 0 20px rgba(0,0,0,0.5); 
    border-radius: 10px;

}
.auth-window h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 28px;
    color: #DCEDC8;

}
.input-box {
    grid-area: input-box;

}
.input-box span {
    color: #222629;
    font-size: 18px;
}
.input-box input{
    margin: 10px;
    width: 80%;
    height: 35px;
    border: 0;
    border-radius: 4px;
    border-bottom: 1px solid #DCEDC8;
    outline: 0;
    font-size: 20px;  

}
.registration-link {
    grid-area: registration-link;


}
.registration-link a{
    text-decoration: none;
    color: #DCEDC8;
}
.button-box {
    grid-area: button-box;
}
button {
    margin: 10px;

    width: 40%;
    height: 45px;
    border-radius: 40px;
    outline: 0;  
    border: 0;
    background-color: #86c232;
    color: #DCEDC8;
    font-size: 20px;
    
}
button:hover {
    color: black;
    background-color: #8c8c8c;
    transition: all 0.4s;
}

.info-desk {
    color: #DCEDC8;
    grid-area: info-desk;
    border: 1px solid black;
    background-color: #3483eb;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 10px;

}

.info-desk p {
    font-size: 20px;
}